
<head>
    <meta charset="UTF-8">
    <title>Каточка</title>
</head>
{% include "content/base.html" %}
<body>
    <div class="card mb-3" style="max-width: 1000px">
      <img style="width: 100%" src="{{ card.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">{{ object.description }}</p>
        <h2  class="card-text"><small class="text-muted" style="color: #dc3545 !important;">{{ object.price}} сом</small></h2>
    </div>
</div>
</body>
</html>